*{
    margin:0;
    font-family:arial;
    border:border-box;
    padding:0;
}
.navbar-black{
    background-color:black;
    height:80px;
    display:flex;
    color:white;
    align-items:center;
    font-family: Arial;
    font-size:x-large;
    justify-content: center;
}
.text-white {
    text-align:center;
    display:flex;
    justify-content: center;
}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:2px solid white;
}
.navbar-white
{
    background-color: white;
    height:80px;
    width:100%;
    justify-content: space-evenly;
    display:flex;
}
.menu-icon i{
    padding-left:30px;
    padding-top:30px;

}
.menu-icon i{
    font-size: 25px;
}

.navbar-logo{
    width:100px;
    height:50px;
}
.logo{
    background-image: url("OnePlus_Logo.jpg");
    width:100%;
    height:50px;
    background-size:cover;
    padding-left:40px;
    padding-top:30px;
    text-align:center;
    align-items: center;
    
}

.parah{
    padding-left:30px;
    padding-top:30px; 
    font-size:1.3rem 
}
.parahs{
    color: black; 
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 75px;
}
.hero-section{
    background-image: url("oneplus_image.webp");
    background-size: cover;
    width:100%;
    height:800px;
    display: flex;
    justify-content: center;
    align-items:left;
    display:block;
    padding-top:20px;
    padding-left:20px;
}
#msg1{
    font-size: 30px;
    line-height:60px;
    color:rgb(143, 137, 137);
}
#msg2{
    font-size:50px;
    line-height:60px;
    font-weight: 400px;
    color:white;
}
#msg3{
    color:white;
    font-size:30px;
    text-align: left;
    height: 550px;
    display: flex;
    align-items: end;
}
#msg4{
    background-color: white;
    color:black;
    width:150px;
    height:50px;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.3rem;
    margin-top:20px;
}
#msg5{
    color:white;
    text-decoration: underline;
    display:flex;
    font-size: 1.5rem;
    position: relative;
    left:200px;
    bottom:40px;
    width:100%;
}
.img-2{
    background-image: url("one-img2.webp");
    background-size:cover;
    height:700px;
    width:70%;
    margin-left: 100px;
    margin-top:5px;
    position: relative;
    left:400px;
    top:30px;
    
    
}
.page2{
    background-color: rgb(242, 244, 222);
    height:1500px;
    width:100%;

}
.page2-msgs{
    color:black;
    font-size: 70px;
    text-align: left;
    align-items: left;
    display:flex;
    justify-content: center;
    display: block;
    text-align: start;
    justify-content: space-between;
    position: relative;
    right:450px;

}
.page2-msgs2{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    text-align: left;
    height:350px;
    width:30%;
    position: relative;
    right:450px;
}
.page2-msgs3{
    font-size: 35px;
    position: relative;
    right:450px;
}
.div-buy{
    color: white;
    background-color: black;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
    left: 65px;
    bottom: 20px;

}
.div-learn{
    color: black;
    background-color: rgb(242, 244, 222);
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    position: relative;
    left: 250px;
    bottom: 70px;
    border: 1.5px solid black;

}
/** page3*/
.shop-sections{
    display:inline-flex;
    justify-content: space-evenly;
}

.box{
    height:600px;
    width:800px;
    display:inline-block;
    background-color:#fff5cc;
    display:flex;
    justify-content: center;
    margin-left:70px;
    justify-content: left;
    padding-left: 10px;
}
.box-head{
    font-size: 3.5rem;
    padding-top: 20px;
}
.box-content{
    font-size:1.5rem ;
    height: 400px;
    display: flex;
    align-items: end;
    font-weight: 500;
}
.box-content{
    position:relative;
    right:400px;
}
.box-img1{
    background-image: url("one_img3.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height:435px;
    width:390px;
    position: relative;
    top: 120px;
    left: 90px;


}
.div-buy2{
    color: white;
    background-color: black;
    width: 150px;
    height: 53px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items:center;
    font-size: 1.5rem;
    position: relative;
    right: 650px;
    top: 100px;
}
.div-learn2{
    color: black;
    background-color: rgb(242, 244, 222);
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.5rem;
    border: 1.5px solid black;
    position: relative;
    right: 600px;
    top: 100px;

}
.box-img2{
    background-image: url("one_img4.webp");
    background-size: cover;
    background-repeat: no-repeat;
    height:435px;
    width:390px;
    position: relative;
    top: 120px;
    left: 90px;


}
/* footer*/
.panel-head{
    margin-top:15px;
    background-color:#304152;
    color:white;
    display :flex;
    justify-content: center;
    align-items: center;
    height:50px;
    font-weight:600;
}
.panel-content{
    background-color: black;
    color:white;
    height:650px;
    width:100%;
    justify-content: space-evenly;
    display: flex;
    font-size: 1.3rem;
    align-items: left;
    text-align: left;
    line-height: 30px;
}
.parah{
    color:white;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 40px;
}
html, body{
    width:100%;
    height:100%;
    padding:0px;
    margin:0px;
    overflow-x: hidden;
    background-size: cover;
}
